# python
src/__pycache__/
src/utils/__pycache__/__init__.cpython-38.pyc
tests/utils/__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# don't push pycharm stuff
.idea/

# nor jupyter checkpoints
.ipynb_checkpoints/

# don't upload the data to gitlab you dingus
data/
outputs/

# or the .gitignore
.gitignore